<!-- <footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                      <a href="#" class="mouse-icon">
                          <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                      </a>
                  </div>
        </div>
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Minishop</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Menu</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Shop</a></li>
              <li><a href="#" class="py-2 d-block">About</a></li>
              <li><a href="#" class="py-2 d-block">Journal</a></li>
              <li><a href="#" class="py-2 d-block">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Help</h2>
            <div class="d-flex">
                <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                  <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                  <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                  <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                  <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                </ul>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">FAQs</a></li>
                  <li><a href="#" class="py-2 d-block">Contact</a></li>
                </ul>
              </div>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        
                      </p>
        </div>
      </div>
    </div>
  </footer> -->
  <footer class="footer">
    <!-- Scroll to top button -->
    <div class="scroll-top">
        <i class="fas fa-chevron-up"></i>
    </div>
    
    <div class="container">
        <div class="row">
            <!-- Brand Column -->
            <div class="col-lg-3 col-md-6 footer-column">
                <h4 class="footer-heading">MOBIWORLD</h4>
                <p class="footer-text">Let your skin say a story about you.</p>
                
                <!-- Social Icons -->
                <div class="social-icons">
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            
            <!-- Menu Column -->
            <div class="col-lg-3 col-md-6 footer-column">
                <h4 class="footer-heading">MENU</h4>
                <ul class="footer-links">
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Journal</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            
            <!-- Help Column -->
            <div class="col-lg-3 col-md-6 footer-column">
                <h4 class="footer-heading">HELP</h4>
                <ul class="footer-links">
                    <li><a href="#">Shipping Information</a></li>
                    <li><a href="#">Returns & Exchange</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            
            <!-- Contact Column -->
            <div class="col-lg-3 col-md-6 footer-column">
                <h4 class="footer-heading">CARE FOR A VISIT?</h4>
                
                <div class="contact-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Koltra Industrial Park,<br>Kakkanadery, Kochinside,<br>Kerala</p>
                </div>
                
                <div class="contact-info">
                    <i class="fas fa-phone-alt"></i>
                    <p>+91 0000000000</p>
                </div>
                
                <div class="contact-info">
                    <i class="fas fa-envelope"></i>
                    <p>silversoul@gmail.com</p>
                </div>
            </div>
        </div>
        
        <!-- Copyright Section -->
        <div class="footer-bottom">
            <p>Copyright ©2024 All rights reserved</p>
        </div>
    </div>
</footer>


    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Optional JavaScript for scroll to top functionality -->
    <script>
        document.querySelector('.scroll-top').addEventListener('click', function() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    </script>
     <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Close navbar when clicking outside
            document.addEventListener('click', function(event) {
                const navbarMenu = document.getElementById('navbarContent');
                const navbarToggler = document.querySelector('.navbar-toggler');
                
                const isClickInsideNavbar = navbarMenu.contains(event.target);
                const isClickOnToggler = navbarToggler.contains(event.target);
                
                if (!isClickInsideNavbar && !isClickOnToggler && navbarMenu.classList.contains('show')) {
                    const bsCollapse = new bootstrap.Collapse(navbarMenu);
                    bsCollapse.hide();
                }
            });
        });
    </script>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
