/* 
.main-image-container {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    height: 400px;
}
.main-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: crosshair;
}
.zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    display: none;
    pointer-events: none;
}
.thumbnail-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.thumbnail {
    width: 32%;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
}
.thumbnail:hover {
    border-color: #007bff;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.thumbnail.active {
    border: 2px solid #007bff;
}
.thumbnail img {
    width: 100%;
    height: auto;
}
 */

 .thumbnail-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
.thumbnail {
    width: 32%;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 87px;
    margin: 20px;
}
.thumbnail:hover {
    border-color: #007bff;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.thumbnail.active {
    border: 2px solid #007bff;
}
.thumbnail img {
    width: 100%;
    height: auto;
}



